html, body {
    background-color: #f5f5f5 !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.loading {
    font-size: 40px;
    text-align: center;
}

.loading span {
    font-size: 50px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}
